* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.5em;
}

.game-title {
  font-size: 0.8em;
  margin-bottom: 50px;
}

.game-board {
  display: grid;
  justify-content: center;
  height: 800px;
  border-top: 2px solid black;
  padding-top: 80px;
}

.row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.col {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(215, 215, 215)
}

@media (max-width: 920px) {
  .game-board {
  display: grid;
  justify-content: center;
  height: 600px;
}

  .col {
    width: 80px;
    height: 80px;
  }
}
