* {
  box-sizing: border-box;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.winner {
  animation: rainbow 4s infinite linear;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  font-family: -apple-system, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.5em;
}

.game-title {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.loading-indicator {
  animation: spin 1s infinite;
}

.game-board {
  display: grid;
  justify-content: center;
  height: 80%;
  border-top: 2px solid black;
  padding-top: 50px;
}

.row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.col {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(215, 215, 215);
}

#letter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid #cdcdcd;
  font-size: 100%;
  font-weight: 600;
  text-transform: uppercase;
}

.loading-indicator {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.correct {
  background-color: rgb(49, 137, 195);
}

.incorrect {
  background-color: rgb(177, 177, 177);
}

.close {
  background-color: rgb(246, 204, 52);
}

@media (max-width: 920px) {
  .game-board {
  display: grid;
  justify-content: center;
}

  .col {
    width: 80px;
    height: 80px;
  }

  #letter {
    font-size: 60%;
  }
}
